

/*! CSS bare bones for recipes site */

html {
  font-family:Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the rest is up to you */


body {
  background-color: rgb(209, 206, 181);
  width: 100%;
  font-size:10px;
  /* background: white; */
}

.recipeshome main p
{
  
  
  padding: 20px;
}

.recipeshome main
{
  padding: 50px;
}

.post-link
{
color: black;
}

.site-header
{
text-align: center;
color: white;
padding: 30px;
}

.post-content
{
 
}


.site-title {
  text-decoration: none;
  color: black;
}

.list {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 12px;
  text-align: center;
  background-color: white;
  padding: 20px;
  font-family:fantasy;
}

h2 {
  color: rgb(0, 0, 0);
  font-family:fantasy;
}

h1,h2, h3, h4 {
  font-family:fantasy;
}

p {
  color: rgb(0, 0, 0);
  margin-bottom: 1em;
  padding: 0px;  
  font-size: 1.5em;
}

main {
width: 60%;
max-width:850px;
padding: 0 12px;
margin: 0 auto;
background-color: white;
}

img {
width:100%;
/* float: right; */
}

ul {
  margin-left:20px;
  columns: 2;
  /* column-rule: 1px solid black; */
}

li {
  font-size: 1.5em;
  margin-bottom: 12px;
  list-style-position: inside;
  display: flex;
}

.caption {
  font-size: .8em;
  float: right;
  width: 50;
}


button {
  width: 270px;
  background-color: black;
}

button a {
  text-decoration: none;
  font-family: fantasy;
  font-size: small;
  color: rgb(255, 255, 255);
  text-align: center;
}

.list {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



.recipe-teaser {
border:1px solid rgb(161, 161, 161);
padding: 1em;
flex-basis: 300px;
flex-grow: 1;
margin:1em;
display:flex;
flex-direction: column;
justify-content:space-between
}

nav {
width:20%;
position: fixed;
top:180px;
background-color: bisque;
}

nav ul {
  columns: unset;
  font-size: .7em;
}

nav li {
margin:.7em;
}

@media screen and (max-width: 700px) {

  nav {
  margin:0;
  position: static;
  width:100%;
  }
  
  nav ul {
  font-size:1rem;
  }
  
    main {
    width: 100%;
    padding: 1em;
    border: none;
    }
  
    body {
    background-color: white;
    padding-top: 5em;
  }

  body.recipeshome {
    padding-top:0;
  }

  .home {
    width: 80%;
    margin: .5em auto;
  }
  
  p:has(img) {
    float:none;
    width:100%;
    padding: 10px;
    margin-left: 0;
  }

}
